{% extends "layout.html" %}

{% block title %} Chai | My Blog {% endblock %}

{% block content %}
<main class="max-w-5xl mx-auto mt-8 px-5">
	<!-- HERO -->
	<section class="bg-slate-950 border border-slate-800 rounded-md p-8 mb-8">
		<h1 class="text-slate-50 text-2xl font-semibold mb-2">
			Our Tea Collection
		</h1>
		<p class="text-slate-400 text-justify">
			Discover a refined selection of teas sourced from the finest tea gardens around the world. Each blend is carefully crafted to highlight its unique character—ranging from bold and invigorating to smooth and calming. Whether you prefer classic flavors or adventurous infusions, our collection offers a perfect cup for every mood, moment, and palate.		
		</p>
	</section>

	<!-- TEA CARDS -->
	<section class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
		{% for chai in chais %}
		<a href="{% url 'chai_detail' chai.id %}">

			<div class="bg-slate-950 border border-slate-800 rounded-md overflow-hidden">
				
				<!-- IMAGE -->
				<img
				src="{{ chai.image.url }}"
				alt="{{ chai.name }}"
				class="w-full h-56 object-cover"
				/>
				
				<!-- CONTENT -->
				<div class="p-5">
					<h3 class="text-slate-100 text-xl font-semibold mb-2">
						{{ chai.name }}
					</h3>
					
					<div class="flex justify-between text-sm text-slate-400">
						<p>
							<span class="text-slate-300 font-medium">Category:</span>
							{{ chai.get_type_display }}
					</p>
					<p>
						<span class="text-slate-300 font-medium">Added:</span>
						{{ chai.date_added|date:"M d, Y" }}
					</p>
				</div>
				<button type="button" class="inline-flex w-full items-center justify-center gap-2 rounded-md border border-slate-700 bg-slate-900 px-5 py-1.5 text-sm font-medium text-slate-200 hover:border-sky-400 hover:text-sky-100 hover:bg-slate-800 transition-colors cursor-pointer mt-5">
					{{ chai.id }} - {{ chai.get_type_display }}
				</button>
			</div>
		</div>
	</a>
	{% endfor %}

	</section>

</main>
{% endblock %}
