{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Default Title 
    {% endblock %}
  </title>
  {% comment %} <link rel="stylesheet" href="{%static 'style.css' %}"> {% endcomment %}
	{% tailwind_css %}
</head>
<body class="m-0 font-sans bg-[#0b1020] text-slate-200">
	<header class="bg-slate-950 border-b border-slate-800 px-8 py-4">
		<nav class="flex items-center justify-between max-w-5xl mx-auto">
			<div class="text-slate-50 text-xl font-bold">
				My Blog
			</div>

		<ul class="flex space-x-6">
			<li>
				<a
					href="{% url 'home' %}"
					class="text-slate-400 text-sm hover:text-sky-400 transition-colors"
				>
					Home
				</a>
			</li>

			<li>
				<a
					href="{% url 'all_chai' %}"
					class="text-slate-400 text-sm hover:text-sky-400 transition-colors"
				>
					Chai
				</a>
			</li>

			<li>
				<a
					href="{% url 'about' %}"
					class="text-slate-400 text-sm hover:text-sky-400 transition-colors"
				>
					About
				</a>
			</li>

			<li>
				<a
					href="{% url 'contact' %}"
					class="text-slate-400 text-sm hover:text-sky-400 transition-colors"
				>
					Contact
				</a>
			</li>
			<li>
				<a
					href="{% url 'admin:index' %}"
					class="text-slate-400 text-sm hover:text-sky-400 transition-colors"
				>
					Admin
				</a>
			</li>

		</ul>
	</nav>
</header>
    {% block content %}{% endblock %}
	<!-- Footer -->
<footer
	class="bg-[#020617] text-[#64748b] text-center px-4 py-[15px] mt-10 text-sm border-t border-[#1e293b]">
	© 2026 My Blog. All rights reserved.
</footer>
</body>
</html>